parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests/Behat
        - tests/TestApplication

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        -
            identifier: missingType.generics # Temp
        -
            identifier: missingType.iterableValue
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '/Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\./'
        - '/Parameter \#1 \$event of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects object, string given\./'
        -
            message: '/Cannot call method trans\(\) on Symfony\\Contracts\\Translation\\TranslatorInterface\|null\./'
            path: src/Controller/ProductEnqueueController
        -
            identifier: missingType.iterableValue

    # Move alias here when global alias are supported also on Psalm: https://github.com/vimeo/psalm/discussions/5376
    typeAliases:
