<a class="btn" href="{{ path('webgriffe_sylius_akeneo_product_import', {'productId': hookable_metadata.context.resource.id}) }}">
    {{ ux_icon('tabler:cloud-download', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'webgriffe_sylius_akeneo.ui.schedule_import'|trans }}
</a>
