{% if data %}
    <span class="badge bg-green-lt">
        {{ ux_icon('tabler:circle-check') }}
        {{ 'sylius.ui.yes_label'|trans }}
    </span>
{% else %}
    <span class="badge bg-red-lt">
        {{ ux_icon('tabler:circle-x') }}
        {{ 'sylius.ui.no_label'|trans }}
    </span>
{% endif %}
