{% if data %}
    <span class="ui green label">
        <i class="check circle icon"></i>
        Yes
    </span>
{% else %}
    <span class="ui red label">
        <i class="times circle icon"></i>
        No
    </span>
{% endif %}
