{% if data %}
    <span class="ui green label">
        <i class="check circle icon"></i>
        {{ 'sylius.ui.yes_label'|trans }}
    </span>
{% else %}
    <span class="ui red label">
        <i class="times circle icon"></i>
        {{ 'sylius.ui.no_label'|trans }}
        No
    </span>
{% endif %}
